

.logo2{
  width: 10rem;
}
.navbar{
  background-color:black;
  margin-top: -1.5rem;

 }

.navbar-nav a{
  color: white;
  font-size: 1.1rem;

}

 .navbar-nav a:hover{
 color: red;
 
 }

.dropdown-menu a{
  color: black;
}

.navbar-toggler-icon{
  background-color: red;
  border: solid white 0.1rem;

}


.carousel {
  height: 50rem;
}

.carousel img{
  max-height: 50rem;
}

 .carousel-caption {
  color: black;
  right: 40%;
  text-align: center;
  left: auto;
  top: 50%;
  transform: translateY(-70%);
  bottom: initial;
} 

.c-logo{
  width: 25rem;
}

.hero-btn{
    background-color: transparent;
    background-repeat: no-repeat;
    border: solid white 0.2rem;
    color: white;
    font-size: 1rem;
    padding: 0.8rem;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-weight: bolder;
   }


.hero-btn:hover{
  background-color: red;
  
}

.feature-sq{
  padding-top: 2rem;
}

.fl-txt{
  font-size:4rem;
  font-weight: bold;
  
  }
  .fl-txt2{
    font-size:1.7rem;
    color: red;
    padding-left: 10rem;
    }

    .featured-map{
      border: solid white 0.2rem;
      display: flex;
      cursor: pointer;
      background-size: 95%;
           -moz-transition: background-size 500 linear;
      -o-transition: background-size 500 linear;
      -ms-transition: background-size 500ms linear;
      transition: background-size 500ms linear;
     }

     .featured-map:hover{
      background-size: 100%; 
      }

      .featured-map:hover div{
        background-color: black;
      }

     .feature-sq::before{
      content: url(/public/images/decor.png);
      display: block;
      color: red;
           }


     .fl-cntr{
      display: flex;
      align-self: flex-end;
      color: white;
      font-size: bolder;
      flex-direction: row;
    }

    .ft-btn{
      background-color: transparent;
      background-repeat: no-repeat;
      border: solid lightgray 0.2rem;
      color: darkslategray;
      font-size: 1rem;
      padding: 0.5rem;
      cursor: pointer;
      overflow: hidden;
      outline: none;
       }

.ft-btn-cntr{
  display:flex;
  justify-content: center;
}

    .st-cntr, .price-cntr{
      background-color: lightgray;
      color: white;
    
    }

.featured-st, .featured-price{
  padding-top:0.6rem;
}

       .featured-price{
    margin-left: 0.5rem;
      font-weight: bolder;
    }

    .vd-text{
      margin: 0.5rem;
      background-color: black;
      margin-left: 0.8rem;
    }

    .feature-sq2{
     
      height:50%;
      display: flex;
      justify-content: center;
      padding-top: 6rem;
  
    }

    .ft-map-txt{
      color: white;
      background-color: black;
      padding: 1rem;
      font-size: 1.5rem;
      width: 75%;
      text-align: center;
    }

    .feat-sec{
           padding-bottom: 1.5rem;
    }


    .Netflix-ad{
      background-repeat: no-repeat;
      background-size: cover;
      height:70rem;
     
    }
   
  .name-cntr{
    display: flex;
    align-self: center;
  }

.grid{
  padding-top: 2rem;
}

.boxes{
  position: relative;
  border: solid white 2rem;
}

  .box1::before,.box3::before,.box5::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.70);
    border: solid white 0.2rem;
  }

  .box2::before,.box4::before,.box6::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(229,0,0,0.70);
    border: solid white 0.2rem;
  }

  .box-text{
    margin-top: 3.5rem;
    text-align: center;
    font-size: 2rem;
    border: solid white 0.1rem;
    cursor:pointer;
  }


  .flash-border{
 border: solid transparent;
padding: 2rem;
padding-bottom: 6rem;
  }

  .flash-border:hover{
    border: solid white 0.1rem;
  }

  .review-sec{
    padding-top: 5rem;
    padding-bottom:3rem;
  }


  .main-card-cntr{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 25%;
height:75%;
background-color:black;
color:white;
border: solid white 0.1rem;

  }
  
.header-image{
  padding-top:2rem;

}

  .card-name-comm{
    font-size:1.2rem;
  }

.rev-bg{
  display:flex;
  flex-direction: row;
  justify-content: center;
  background-image:url(/public/images/rvbg8.png);
   background-repeat: no-repeat;
 background-size: 100% 100%;

}

  .rev-comments{
    font-size:1.5rem;
    width: 70%
  }


  .review-img{
    width: 150px;
		resize: 'contain';
		height: 100px;
    border-radius: 50px;
  }
  
.rev-btn-cntr{
  display:flex;
  flex-direction:row;
  padding-bottom: 1rem;
}

.back-btn, .forward-btn{
  cursor: pointer;
  width: 1.8rem;

  border: white solid 0.2rem;
  width: 3.2rem;
  }
.star-rating{
  width:12rem;
}

.back-btn{
   margin-right: 1rem;
}
.forward-btn{
  margin-left: 1rem;
}

.com-txt{
  text-align: center;
}

.rev-bg2{
padding-left: 2rem;
display: flex;
flex-direction: column;

}
.rev-bg2::before{
  content: url(/public/images/decor.png);
  display: block;
  color: red;
       }

       .rev-txt-1{
        font-size:4rem;
        font-weight: bold;
       }

       .rev-txt-2{
        font-size:1.7rem;
        color: red;
        padding-left: 10rem;
       }

.ft-disp-sec{
  display: flex;
  flex-direction: column;
}       

.arrow-cntr{
display:flex;
flex-direction: row;
align-self: flex-start;
padding-top:1rem;
padding-bottom: 2rem;

}

.left-btn{
cursor:pointer;
}

.right-btn{
cursor: pointer;
}

 .ft-disp-prev, .ft-disp-next {
  width: 3rem;
  transition: transform .5s ease;
 
 }

.ft-disp-prev:hover{
  transform: scale(1.5)
}

.ft-disp-next:hover{
  transform: scale(1.5)
}


 .slider-sec{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  width:40%;
  height: 30%;
  padding-top: 25rem;

 }



 .slider-content{
  background-color: white;
  width: 100%;
  border-top: solid red 0.2rem;
  padding:1rem;
 }

 .slider-st{
  font-size: 2rem;
  font-weight: bold;
 }

 .slider-city{
  font-size:1.3rem;
 }

 .slider-price{
  font-size:2.1rem;
  color: red;
  font-weight: bolder;
 }

 .slider-sec img{
  width: 1.5rem;
  padding-bottom: 1rem;
 }

 .slider-st,
  .slider-city,
  .slider-price,
  .slider-bed,
  .slider-bath,
  .slider-sqft{
    display:flex;
    flex-direction: row;
   
  }

  .fd-options-cntr{
display: flex;
flex-direction: column;
 height: 10%;
 width: 10%;

  }

.show-btn, .exit-btn{
  width: 5rem;
  border: solid red;
  background-color: black;
  color: white;
  font-size: 0.7rem;
}

.show-btn:hover{
  background-color: white;
  color:black;
}
.exit-btn:hover{
  background-color: white;
  color:black;
}

.forms{
  padding-top: 1rem;
  display: flex;
  justify-content: left;
}

.filter-sec{
  border: solid black 0.2rem;
  width: 30%;
  padding: 1rem;
  color: white;
  font-size: 1.2rem;  
}




